/* General Navbar Styles */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: black; */
  transition: background-color 0.3s ease;
}

/* Scrolled Navbar */
.navbar.scrolled {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Nav Links */
.navLinks {
  display: flex;
  gap: 10px; /* Default gap for small screens */
}

/* Large Screen Styles */
@media (min-width: 1024px) {
  .navLinks {
    gap: 30px; /* Add more spacing between links for large screens */
  }
}

/* Hamburger Button */
.hamburgerButton {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
}

/* Contact Button Wrapper */
.contactButtonWrapper {
  display: none;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2000;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.modal.open {
  height: 100%;
}

.modalContent {
  background-color: black;
  width: 93%;
  padding: 10px 20px; /* Adjust padding to reduce space */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduce the gap between links */
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0; /* Ensure there’s no margin pushing content down */
}

.modalContent .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modalContent a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.modalContent .closeButton {
  background: none;
  border: none;
  font-size: 4rem;
  align-self: flex-end;
  cursor: pointer;
  margin-right: 1rem;
  color: white;
}

.closeButtonDiv {
  margin-top: -9rem;
}

.indLink{
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburgerButton {
    display: block;
  }

  .navbar {
    background-color: black;
    padding: 2rem;
    z-index: 1000; /* Ensure it stays on top of other content */
  }

  .navbar.scrolled {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .displayNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* .indDiv{
    display: block;
  } */
}

@media (min-width: 1024px) {
  .contactButtonWrapper {
    display: block;
  }
}
