/* General Navbar Styles */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: black; */
  transition: background-color 0.3s ease;
}

/* Scrolled Navbar */
.navbar.scrolled {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Nav Links */
.navLinks {
  display: flex;
  gap: 10px; /* Default gap for small screens */
}

/* Hover effect for navigation links */
.navLinks a:hover,
.modalContent a:hover {
  color: #4caf50; /* Greenish color */
  opacity: 0.8; /* Dim effect */
  transition: color 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

/* Large Screen Styles */
@media (min-width: 1024px) {
  .navLinks {
    gap: 30px; /* Add more spacing between links for large screens */
  }
}

/* Hamburger Button */
.hamburgerButton {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
}

/* Contact Button Wrapper */
.contactButtonWrapper {
  display: none;
}

/* Contact Button Styles */
.contactButton {
  background-color: #349134; /* Light green background */
  color: white; /* White text */
  border: 2px solid white; /* White border */
  padding: 8px 16px; /* Adjust padding as needed */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

/* Hover effect for the Contact Us button */
.contactButton:hover {
  background-color: #419d41; /* Slightly darker green on hover */
  opacity: 0.9; /* Slight dim effect */
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2000;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.modal.open {
  height: 100%;
}

.modalContent {
  background-color: black;
  width: 100%;
  padding: 10px 20px; /* Adjust padding to reduce space */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduce the gap between links */
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0; /* Ensure there’s no margin pushing content down */
}

.modalContent .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modalContent a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.modalContent .closeButton {
  background: none;
  border: none;
  font-size: 4rem;
  align-self: flex-end;
  cursor: pointer;
  margin-right: -1rem;
  color: white;
}

.closeButtonDiv {
  margin-top: -9rem;
}

.indLink {
  margin-bottom: 15px;
  margin-top: 15px;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(to right, #43b267, #2e914e);
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(40, 167, 69, 0.5);
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburgerButton {
    display: block;
  }

  .navbar {
    background-color: black;
    padding: 2rem;
    z-index: 1000; /* Ensure it stays on top of other content */
  }

  .navbar.scrolled {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .displayNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .contactButtonWrapper {
    display: block;
  }
}
